<h1>To Do List</h1>
<h3>A list of things that need to be completed</h3>

<input class="textspace" placeholder="Filter your To Dos" [(ngModel)] = "filterText"/>
<div id="wrapper">
  <div *ngFor="let todo of (tasks | searchFilter: filterText); let i = index">
    {{ i + 1 }}
    <app-todo (delete) = "onDeleted(i)" [completed]="todo.completed" [task]="todo.task"></app-todo>
  </div>
  <input [(ngModel)] = "newTask" class="textspace" placeholder="Today I need to..." />
  <button class= "button" (click)="addTask(newTask)">Add</button>

</div>
