
body{
  background: rgba(230, 100, 161, 1);
  background: -moz-linear-gradient(
    left,
    rgba(230, 100, 161, 1) 0%,
    rgba(230, 100, 161, 1) 1%,
    rgba(248, 80, 50, 1) 81%,
    rgba(236, 99, 97, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(230, 100, 161, 1)),
    color-stop(1%, rgba(230, 100, 161, 1)),
    color-stop(81%, rgba(248, 80, 50, 1)),
    color-stop(100%, rgba(236, 99, 97, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(230, 100, 161, 1) 0%,
    rgba(230, 100, 161, 1) 1%,
    rgba(248, 80, 50, 1) 81%,
    rgba(236, 99, 97, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(230, 100, 161, 1) 0%,
    rgba(230, 100, 161, 1) 1%,
    rgba(248, 80, 50, 1) 81%,
    rgba(236, 99, 97, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(230, 100, 161, 1) 0%,
    rgba(230, 100, 161, 1) 1%,
    rgba(248, 80, 50, 1) 81%,
    rgba(236, 99, 97, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(230, 100, 161, 1) 0%,
    rgba(230, 100, 161, 1) 1%,
    rgba(248, 80, 50, 1) 81%,
    rgba(236, 99, 97, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e664a1', endColorstr='#ec6361', GradientType=1 );
  padding: 15px;
  font-family: 'Abel', sans-serif;
}

.background{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.button{
    background-color: rgb(211, 69, 116);
    border-radius: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 8px;
    width: 100%;
    color: white;
}

.wrapper{
    display: flex;
    margin-bottom: 20px;
}

/* .todos{
    display: flex;
    width:50%;
} */

/* .close{
    display: flex;
    padding-bottom: 5px;
    justify-content: flex-end;
    align-items: center;
    padding-left: auto;
    margin: 5px;
    z-index: -1;
} */

.textspace{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 15px;
    font-size: medium;
    font-family: 'Abel', sans-serif;
}

